.home {
  margin: 30px 0 60px;
  --headerHeight: 88px;
  --footerHeight: 43px;
  min-height: calc(100vh - (var(--headerHeight) + var(--footerHeight)));
}
.home__search {
  margin-bottom: 20px;
}
.home__shelf-avatar,
.home__shelf-persona {
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .home {
    margin: 15px 0 60px;
    --headerHeight: 89px;
  }
  .home__search {
    margin-bottom: 30px;
  }
}
