.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --headerHeight: 89px;
  --footerHeight: 43px;
  --listingMargins: 90px;
  height: calc(
    100vh - (var(--headerHeight) + var(--footerHeight) + var(--listingMargins))
  );
}
.nofound__404 {
  max-width: 100%;
}

.nofound__404 {
  display: block;
  margin-bottom: 40px;
}

.notfound__title {
  margin-bottom: 35px;
  font: var(--text-base);
  color: var(--gray-500);
  max-width: 385px;
  text-align: center;
}

.notfound__countdown {
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 900;
  font-family: 'eurostile-extended';
  text-align: center;
}

.notfound--link {
  display: block;
  font: var(--text-sm);
  color: var(--gray-400);
  text-align: center;
}

@media (min-width: 1024px) {
  .notfound {
    --listingMargins: 75px;
  }

  .notfound__title {
    margin-bottom: 35px;
    font: var(--text-lg);
    color: var(--gray-500);
    max-width: 385px;
    text-align: center;
  }
}
