.button {
  padding: 16px;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: opacity 0.2s ease;
  font: var(--text-sm-bold);
  text-transform: uppercase;
  min-height: 55px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.15);
}

.button div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button--dark {
  background-color: var(--gray-900);
  color: var(--gray-100);
}

.button--light {
  background-color: var(--white);
  color: var(--gray-500);
}

.button--dark:hover {
  opacity: 0.8;
}

.button--light:hover {
  opacity: 0.8;
}

.button--disabled {
  pointer-events: none;
  background-color: var(--gray-300);
  color: var(--gray-100);
}

/* LOADER */
.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button--light .loader {
  border-top-color: var(--gray-500);
}
