.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth-form__email,
.auth-form__password {
  margin-bottom: 10px;
}

.auth-form__forgot-password {
  margin-bottom: 30px;
  color: var(--gray-500);
  font: var(--text-sm-semibold);
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}

.auth-form__forgot-password:hover {
  color: var(--gray-900);
}
