.main-footer {
  padding: 15px 0;
  border-top: 1px solid var(--gray-300);
  background-color: var(--gray-100);
}
.main-footer__copyright {
  text-align: center;
  font: var(--text-xs);
  color: var(--gray-400);
}
