.app-input {
  position: relative;
  width: 100%;
}

.app-input input {
  padding: 15px 30px 15px 15px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  outline: 1px solid transparent;
  width: 100%;
  text-overflow: ellipsis;
}

.app-input input[placeholder] {
  color: var(--gray-400);
  font: var(--text-base);
}

.app-input input:focus {
  outline: none;
  border: 1px solid var(--gray-500);
  outline: 1px solid var(--gray-500);
}

.app-input__eye-container {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

.app-input__eye-wrapper {
  position: relative;
  width: 18px;
  height: 18px;
}

.app-input__eye-wrapper img {
  position: absolute;
  width: 18px;
}

.app-input__eye-slash {
  position: absolute;
  width: 18px;
  height: 2px;
  border-radius: 100%;
  background-color: var(--gray-300);
  transition: all 0.2s ease-in-out;
  transform: rotate(45deg);
  bottom: 44%;
}

.app-input input.error {
  border: 1px solid var(--red-400);
  outline: 1px solid transparent;
}

.app-input input.error:focus {
  border: 1px solid var(--red-400);
  outline: 1px solid var(--red-400);
}

.app-input input.loading {
  background: linear-gradient(
    90deg,
    var(--background) 25%,
    var(--white) 50%,
    var(--background) 75%
  );
  background-size: 200% 100%;
  animation: loading 3s linear infinite;
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}

@keyframes loading {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
