.base-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.base-modal__content-wrapper {
  width: 100%;
  height: 100%;
}
.base-modal > *:not(.base-modal__content-wrapper) {
  cursor: default;
}
