.login-logo {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-900);
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}

.login-logo:hover {
  box-shadow: 0 4px 7.5px rgba(0, 0, 0, 0.15);
}

.login-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition:
    transform 1s cubic-bezier(0.1, 1, 0.7, 1),
    opacity 0.3s ease;
  opacity: 0.85;
}

.login-logo:hover img {
  transform: scale(1.02);
  opacity: 1;
}

.login-logo__text-type {
  font: var(--text-3xl-bold);
  color: var(--gray-100);
  transition: text-shadow 1s cubic-bezier(0.1, 1, 0.7, 1);
}

.login-logo:hover .login-logo__text-type {
  text-shadow:
    0 0 80px var(--gray-100),
    0 0 3px var(--gray-100);
}

@media (min-width: 1024px) {
  .login-logo {
    width: 264px;
    height: 264px;
  }
}
