label {
  display: block;
  margin-bottom: 10px;
  font: var(--text-base-bold);
  color: var(--gray-900);
}
input,
textarea {
  display: block;
  width: 100%;
  padding: 16px 15px;
  border: 1px solid var(--gray-300);
  background-color: var(--gray-100);
  border-radius: 8px;
  font: var(--text-sm);
  color: var(--gray-500);
  line-height: 1.6;
}
input::placeholder,
textarea::placeholder {
  color: var(--gray-400);
  line-height: 1.6;
}
input {
  height: 51px;
}
textarea {
  height: 108px;
}

textarea::-webkit-scrollbar {
  width: 6px;
  border-radius: 15px;
}

textarea::-webkit-scrollbar-thumb {
  background: var(--gray-200);
  border-radius: 15px;
}

textarea::-webkit-scrollbar-track {
  background: var(--gray-100);
}

/* error */
.error-label {
  display: flex;
  align-items: flex-end;
  height: 20px;
  font: var(--text-xs);
  color: var(--red-400);
}
.error label,
.error input,
.error textarea,
.error label::placeholder,
.error input::placeholder,
.error textarea::placeholder {
  color: var(--red-400);
}
.error input,
.error textarea {
  border-color: var(--red-400);
}

/* disabled */
.disabled input,
.disabled textarea {
  opacity: 0.5;
}
