.login-view {
  padding: 0;
  flex-direction: row;
  background: var(--gray-900);
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

.login-view__graphics-section {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  justify-content: center;
  padding: 51px;
  height: 100vh;
  overflow: hidden;
  background-image: url(img/background-pattern.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.login-view__avatar-typeit {
  position: relative;
}

.login-view__wrapper {
  width: 50%;
  box-shadow: -12px 4px 22px 0px rgba(0, 0, 0, 0.15);
  background: var(--background);
  z-index: 2;
  padding: 51px;
  max-width: 860px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-view__logo {
  margin-bottom: 95px;
}

.login-view__typeit {
  position: absolute;
  bottom: 80px;
  left: 350px;
}

.login-view__auth-form {
  max-width: 484px;
  z-index: 3;
}

.login-view__cogna-logo {
  position: absolute;
  left: 40px;
  top: 50px;
}

@media (max-width: 1400px) {
  .login-view__graphics-section {
    justify-content: flex-start;
  }
}

@media (max-width: 1300px) {
  .login-view__graphics-section {
    padding: 20px;
  }

  .login-view__cogna-logo {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .login-view__typeit {
    position: absolute;
    bottom: 80px;
    left: 255px;
  }
}

@media (max-width: 1024px) {
  .login-view__graphics-section {
    display: none;
  }

  .login-view__wrapper {
    width: 100%;
    max-width: unset;
    padding: 20px;
  }

  .login-view__logo {
    margin-bottom: 20px;
  }

  .login-view__typeit {
    position: static;
    margin-bottom: 36px;
  }
}
