.desktop-navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}
.desktop-navigation--link {
  font-size: 18px;
  font-weight: 500;
  font-family: 'eurostile-extended', sans-serif;
  color: var(--gray-900);
  text-decoration: none;
  padding-bottom: 4px;
}

.desktop-navigation--link.router-link-exact-active {
  border-bottom: 2px solid var(--primary-hover);
  color: var(--primary-hover);
}
