.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.steps__item {
  text-decoration: none;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  padding: 8px;
  border-radius: 5px;
  font: var(--text-sm);
  transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}

.steps__item:not(.active) {
  background-color: var(--gray-100);
  color: var(--primary-hover);
  border: 1px solid var(--primary-hover);
}
.steps__item.active {
  background: var(--primary-hover);
  border: 1px solid var(--primary-hover);
  color: var(--gray-100);
}

@media (min-width: 1024px) {
  .steps {
    gap: 10px 15px;
  }
  .steps__item {
    font: var(--text-lg);
  }
}
